img {
  position: absolute;
}
#kim { left: 0px; top: 0px;}
#lea { left: 0px; top: 0px;}
#lily { left: 0px; top: 0px;}
#roy { left: 0px; top: 0px;}
#bob { left: 0px; top: 0px;}
#baby { left: 0px; top: 0px;}
#mimi { left: 0px; top: 0px;}
#joan { left: 0px; top: 0px;}
#schoolbus {
  position: absolute;
}
